/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color:white;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
}

.logo p {
    font-size: 12px;
    color: #888;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 20px;
    font-size: 16px;
}

.header-buttons button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.header-buttons button:hover {
    background-color: #429d45;
}

/* Tabla de pedidos */
h2 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

thead {
    background-color: #4CAF50;
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
